<div class="panel panel-primary">
    <div class="panel-heading">INVOICE LIST</div>
    <table class="table table-bordered table-hover">
        <thead class="bg-primary" style="font-variant: small-caps">
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Create Date</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pager.items ">
            <td>{{item.id}}</td>
            <td>{{item.address}}</td>
            <td>{{item.createDate}}</td>
            <td>{{item.account.fullname}}</td>
            <td class="text-success">Success</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button ng-click="find(item)" class="btn btn-info icon icon-link"></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="panel-footer text-center">
        <button ng-click="pager.first()" class="btn btn-danger">
            <b class="icon icon-arrow-up-circle"></b>
        </button>
        <button ng-click="pager.prev()" class="btn btn-warning">
            <b class="icon icon-arrow-left-circle"></b>
        </button>
        <button  class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
        <button ng-click="pager.next()" class="btn btn-primary">
            <b class="icon icon-arrow-right-circle"></b>
        </button>
        <button ng-click="pager.last()" class="btn btn-danger">
            <b class="icon icon-arrow-down-circle"></b>
        </button>
    </div>
</div>