<div class="panel panel-primary">
    <div class="panel-heading">INVOICE DETAILS LIST</div>
    <table class="table table-bordered table-hover">
        <thead class="bg-info" style="font-variant: small-caps">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pager.items">
                <td>{{item.id}}</td>
            <td><image width="80px" height="60px" src="/assets/images/{{item.product.image}}"/></td>
            <td>{{item.product.name}}</td>
            <td>{{item.quantity}}</td>
            <td>${{item.price}}</td>
            <td class="text-success">Delivered</td>
        </tr>
        </tbody>
        <tfoot>
            <h3 class="text-center text-danger">Total: ${{total}}</h3>
        </tfoot>
    </table>

    <div class="panel-footer text-center">
        <button ng-click="pager.first()" class="btn btn-danger">
            <b class="icon icon-arrow-up-circle"></b>
        </button>
        <button ng-click="pager.prev()" class="btn btn-warning">
            <b class="icon icon-arrow-left-circle"></b>
        </button>
        <button  class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
        <button ng-click="pager.next()" class="btn btn-primary">
            <b class="icon icon-arrow-right-circle"></b>
        </button>
        <button ng-click="pager.last()" class="btn btn-danger">
            <b class="icon icon-arrow-down-circle"></b>
        </button>
    </div>
</div>